<div id="comment-form" class="mb-5">
  <%= render 'layouts/flash' %>
  <%= form_for Comment.new, remote: true do |f| %>
    <div class="form-group mb-3">
      <%= f.label :comment_category_id, 'Your opinion!', class: 'form-label' %>
      <%= f.collection_select :comment_category_id, @comment_categories, :id, :title, {prompt: true}, {class: 'form-control form-control-sm px-2'} %>
    </div>
    <div class="mb-3">
      <%= f.text_area :content, rows: 2, placeholder: 'Leave a comment please!', class: 'form-control px-2' %>
    </div>
    <div>
      <%= f.submit 'Send', class: "btn btn-sm btn-primary" %>
    </div>
  <% end %>
</div>
