<div id="projects_result">
  <% if not @selected_tags.nil? %>
    <div class="row justify-content-center align-items-center mb-4">
      <div class="col-auto px-1">
        <h5 class="mb-0">Below the fights in which</h5>
      </div>
      <% @selected_tags.each do |tag| %>
        <div class="col-auto px-1">
          <%= image_tag "tags_pngs/#{tag.code}.png", size: '25x25' %>          
        </div>
      <% end %>
      <div class="col-auto px-1">
        <h5 class="mb-0">helped me!</h5>
      </div>
    </div>
  <% else %>
    <h5 class="text-center mb-4">These are all the fights!</h5>
  <% end %>
  <div class="row">
    <% @projects.each do |project| %>
      <div class="col-lg-6 mb-3">
        <div class="card mb-3 h-100">
          <%= image_tag "projects_pngs/#{project.code}.png", class: 'card-img' %>
          <div class="card-body pb-0 d-flex flex-column justify-content-between">
            <div>
              <h5 class="font-weight-bold"><%= project.title %></h5>
              <p class="card-text desciption mb-1"><%= project.description %></p>
              <div class="row">
                <div class="col-auto">
                  <p class="card-text text-muted"><small>Pokétechnos :</small></p>
                </div>
                <% project.tags.order(:order).each do |tag| %>
                  <div class="col-auto px-1">
                    <%= image_tag "tags_pngs/#{tag.code}.png", size: '15x15' %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="mb-2">
              <p class="card-text text-muted mb-0"><small>My role : <%= project.my_role  %></small></p>
              <p class="card-text text-muted mb-0"><small>Duration : <%= project.duration_phrase  %></small></p>
              <p class="card-text text-muted"><small>Team : <%= project.team %></small></p>
            </div>
          </div>
          <div class="card-footer alert-info d-flex justify-content-between align-items-center px-2 py-1 ">
            <%= link_to 'View this conquered land', project_rendering_path(project), class: 'text-decoration-none' %>
            <p class="card-text mb-0"><%= "Level : #{project.complexity}/10" %></p>
            <%= link_to 'Watch fight', project_repo_path(project), class: 'text-decoration-none' %>
          </div>
        </div>
      </div>      
    <% end %>
  </div>
</div>
